[Unit]
Description=Kopia repository sync to secondary ({{ kopia_sync_secondary_repo_path }})

[Timer]
OnCalendar={{ kopia_sync_secondary_timer_on_calendar }}
RandomizedDelaySec=3600
Persistent=true

[Install]
WantedBy=timers.target
