{
  "root": "{{ step_path }}/certs/root_ca.crt",
  "crt": "{{ step_path }}/certs/intermediate_ca.crt",
  "key": "{{ step_path }}/secrets/intermediate_ca_key",
  "key_password_file": "{{ step_path }}/secrets/ca_password.txt",
  "dnsNames": ["{{ step_ca_cname }}.{{ lan_domain }}"],
  "address": ":{{ step_ca_port }}",
  "backdate": "1m0s",
  "db": {
    "type": "badgerV2",
    "dataSource": "{{ step_path }}/db"
  },
  "authority": {
    "provisioners": [
      {
        "type": "JWK",
        "name": "admin@{{ step_ca_cname }}.{{ lan_domain }}",
        "key": {{ jwk_public_key | to_json(sort_keys=True) }},
        "claims": {
          "defaultTLSCertDuration": "{{ step_ca_jwk_default_ttl }}",
          "maxTLSCertDuration": "{{ step_ca_jwk_max_ttl }}"
        }
      },
      {
        "type": "ACME",
        "name": "acme",
        "claims": {
          "defaultTLSCertDuration": "{{ step_ca_acme_default_ttl }}",
          "maxTLSCertDuration": "{{ step_ca_acme_max_ttl }}"
        }
      }
    ]{% if step_ca_policy_wildcards %},
    "policy": {
      "x509": {
        "allow": {
          "dns": {{ step_ca_policy_wildcards | to_json }}
        },
        "allowWildcardNames": true
      }
    }{% endif %},
    "enableAdmin": true,
    "admins": [
      {
        "subject": "admin@{{ step_ca_cname }}.{{ lan_domain }}",
        "provisioner": "admin@{{ step_ca_cname }}.{{ lan_domain }}"
      }
    ]
  }
}
