#!/bin/sh /etc/rc.common
START=99
USE_PROCD=1
start_service() {
    procd_open_instance
    procd_set_param command /usr/bin/step-ca
    procd_append_param command {{ step_ca_path }}/config/ca.json
    procd_append_param command --password-file {{ step_ca_path }}/secrets/ca_password.txt
    procd_set_param user step
    procd_set_param group step
    procd_set_param pidfile /var/run/step-ca.pid
    procd_set_param stdout 1
    procd_set_param stderr 1
    procd_set_param signal SIGHUP
    procd_set_param respawn
    procd_close_instance
}
