---
services:
  cyberchef:
    image: "{{ cyberchef_image_name }}:{{ cyberchef_image_tag }}"
    restart: unless-stopped
    volumes:
      - /etc/localtime:/etc/localtime:ro
    labels:
      traefik.enable: "true"
      traefik.http.routers.cyberchef.rule: "Host(`{{ cyberchef_cname }}.{{ lan_domain }}`)"
      traefik.http.routers.cyberchef.entrypoints: "websecure"
      traefik.http.routers.cyberchef.tls: "true"
      traefik.http.routers.cyberchef.tls.certresolver: "step-ca"
      traefik.http.services.cyberchef.loadbalancer.server.port: "8080"
      homepage.group: "Tools"
      homepage.name: "CyberChef"
      homepage.icon: "sh-cyberchef"
      homepage.href: "https://{{ cyberchef_cname }}.{{ lan_domain }}"
      homepage.description: "Crypto, encoding, and data utilities"
