http:
  routers:
    traefik-dashboard:
      rule: "Host(`{{ traefik_cname }}.{{ inventory_hostname }}.{{ lan_domain }}`)"
      entrypoints:
        - websecure
      tls:
        certResolver: step-ca
      service: api@internal
