---
services:
  linkwarden:
    image: "{{ linkwarden_image_name }}:{{ linkwarden_image_tag }}"
    restart: unless-stopped
    env_file: "{{ linkwarden_opt_dir }}/.env"
    volumes:
      - "{{ linkwarden_data_dir }}/data:/data/data"
      - /etc/localtime:/etc/localtime:ro
    labels:
      traefik.enable: "true"
      traefik.http.routers.linkwarden.rule: "Host(`{{ linkwarden_cname }}.{{ lan_domain }}`)"
      traefik.http.routers.linkwarden.entrypoints: "websecure"
      traefik.http.routers.linkwarden.tls: "true"
      traefik.http.routers.linkwarden.tls.certresolver: "step-ca"
      traefik.http.services.linkwarden.loadbalancer.server.port: "3000"
