---
# For configuration options and examples, please see:
# https://gethomepage.dev/configs/settings/
title: Homelab Homepage
description: Homelab Homepage
theme: dark
color: neutral
useEqualHeights: true
disableCollapse: true
headerStyle: clean
statusStyle: "dot"
