---
services:
  vaultwarden:
    image: "{{ vaultwarden_image_name }}:{{ vaultwarden_image_tag }}"
    restart: unless-stopped
    env_file:
      - .env
    volumes:
      - "{{ vaultwarden_data_dir }}:/data"
      - /etc/localtime:/etc/localtime:ro
    labels:
      traefik.enable: "true"
      traefik.http.routers.vaultwarden.rule: "Host(`{{ vaultwarden_cname }}.{{ lan_domain }}`)"
      traefik.http.routers.vaultwarden.entrypoints: "websecure"
      traefik.http.routers.vaultwarden.tls: "true"
      traefik.http.routers.vaultwarden.tls.certresolver: "step-ca"
      traefik.http.services.vaultwarden.loadbalancer.server.port: "80"
      homepage.group: "Apps"
      homepage.name: "Vaultwarden"
      homepage.icon: "sh-vaultwarden"
      homepage.href: "https://{{ vaultwarden_cname }}.{{ lan_domain }}"
      homepage.description: "Password manager"
