---
services:
  dbgate:
    image: "{{ dbgate_image_name }}:{{ dbgate_image_tag }}"
    restart: unless-stopped
    env_file:
      - .env
    volumes:
      - "{{ dbgate_data_dir }}:/root/.dbgate"
      - /etc/localtime:/etc/localtime:ro
      - /etc/ssl/certs/ca-certificates.crt:/etc/ssl/certs/ca-certificates.crt:ro
    labels:
      traefik.enable: "true"
      traefik.http.routers.dbgate.rule: "Host(`{{ dbgate_cname }}.{{ lan_domain }}`)"
      traefik.http.routers.dbgate.entrypoints: "websecure"
      traefik.http.routers.dbgate.tls: "true"
      traefik.http.routers.dbgate.tls.certresolver: "step-ca"
      traefik.http.services.dbgate.loadbalancer.server.port: "3000"
      homepage.group: "Tools"
      homepage.name: "DBGate"
      homepage.icon: "sh-dbgate"
      homepage.href: "https://{{ dbgate_cname }}.{{ lan_domain }}"
      homepage.description: "Database management"
